### Java template
*.class

### Idea
*.iml
.idea

### DB
transaction-logs

### Maven
*/target

### Frontend
npm-debug.log
phantomjsdriver.log
web/src/node_modules
web/src/typings

### This application (SpringBoot)
/application.properties
