<div ng-show="authenticated">
    <h2>{{book.name}}</h2>

    <p>{{book.description}}</p>

    <h3>years</h3>
    <table class="table table-striped">
        <tr ng-repeat="year in bookYears">
            <td>{{year.start}}</td>
            <td>-</td>
            <td>{{year.end}}</td>
        </tr>
    </table>

    <!-- todo "add year" button that opens the "add year popover" -->
    <div ng-controller="book">
    <button ng-click="open()" class="button">Add year</button>

        <div modal="showModal" close="cancel()">
            <div class="modal-header">
                <h4>New Book Year</h4>
            </div>
            <div class="modal-body">
                <p>Date picker</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" ng-click="ok()">Ok</button>
              <button class="btn" ng-click="cancel()">Cancel</button>
            </div>
          </div>
    </div>
</div>

<div ng-show="!authenticated">
    <p>Please login to use the application.</p>
</div>
