<h2>📚 Books
<span *ngIf="!isAddBook"><button (click)="showAddBook(true)">+</button></span>
<span *ngIf="isAddBook">
<input #newBook
       (keyup.enter)="addBook(newBook.value); newBook.value=''; showAddBook(false)"
       (keyup.escape)="newBook.value=''; showAddBook(false)"
       (blur)="newBook.value=''; showAddBook(false)">
</span>
</h2>
<div *ngIf="isAddBook">
    <book-form></book-form>
</div>
<ul class="books">
    <li *ngFor="#book of books"
        [class.selected]="book === selectedBook"
        (click)="onSelect(book)">
        <span class="badge">🔖</span> {{book.name}}
    </li>
</ul>

<div *ngIf="selectedBook">
    <h2>{{selectedBook.name}} overview</h2>
    <div>
        <h4>Description</h4>
        <div class="text">{{selectedBook.description}}</div>
    </div>

    <button (click)="gotoDetail()">Open</button>
</div>
