<h2>📚 Books</h2>

<div *ngIf="addBook">
<input #newBook
       (keyup.enter)="addBook(newBook.value); newBook.value='' "
       (keyup.escape)="newBook.value='' "
       (blur)="newBook.value='' ">
<button (click)="addBook(newBook.value)">Add</button>
</div>

<ul class="books">
    <li *ngFor="#book of books"
        [class.selected]="book === selectedBook"
        (click)="onSelect(book)">
        <span class="badge">🔖</span> {{book.name}}
    </li>
</ul>

<div *ngIf="selectedBook">
    <h2>{{selectedBook.name}} overview</h2>
    <div>
        <h4>Description</h4>
        <div class="text">{{selectedBook.description}}</div>
    </div>

    <button (click)="gotoDetail()">Open</button>
</div>
